$aqua: rgb(94, 200, 229);
$blue: rgb(0, 120, 191);
$bright-red: rgb(241, 80, 96);
$burgundy: rgb(145, 78, 114);
$copper: rgb(189, 100, 57);
$coral: rgb(255,142,145);
$cornflower: rgb(98, 168, 229);
$flat-gold: rgb(187, 139, 65);
$fluorescent-orange: rgb(172, 147, 110);
$fluorescent-pink: rgb(255, 72, 176);
$fluorescent-red: rgb(255, 76, 101);
$fluorescent-yellow: rgb(255, 233, 22);
$kelly-green: rgb(103, 179, 70);
$light-gray: rgb(136, 137, 138);
$light-teal: rgb(0, 157, 165);
$metallic-gold: rgb(172, 147, 110);
$mint: rgb(130, 216, 213);
$moss: rgb(104, 114, 77);
$orange: rgb(255, 108, 47);
$orchid: rgb(187, 118, 207);
$red: rgb(255, 102, 94);
$risofederal-blue: rgb(61, 85, 136);
$sunflower: rgb(255, 181, 17);
$yellow: rgb(255, 232, 0);
