fieldset {
    @apply flex flex-col gap-x-6 gap-y-4  mb-6 ;
    padding: 1rem 0 !important;
    transition: all 0.3s;
}

fieldset h3 {
    @apply text-xl font-serif col-span-2 pt-2 pb-4 border-b-2;
}

fieldset h4 {
    @apply text-lg font-serif col-span-2 ;
}

fieldset fieldset {
    @apply border-none mb-0 mb-2; 
}

.form-item {
  @apply flex flex-col my-2;
}

.form-item label {
  @apply font-bold text-lg font-sans pb-1;
}

.form-item input,
.form-item select,
.form-item textarea {
  @apply border p-4 bg-white font-mono bg-white rounded;
}


input.submit-button {
    @apply inline-flex text-xl rounded px-4 py-2 font-serif w-auto text-natural cursor-pointer bg-darker;
    color: var(--color-natural) !important;
}

input.submit-button:hover {
    color: var(--global-color) !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


/* CHECKBOX */ 

.form-item .checkbox-wrapper.multi {
    @apply flex-wrap gap-2;
}

.checkbox {
    @apply gap-2 font-normal text-base font-mono items-center cursor-pointer inline-flex p-0;
}

.checkbox .post-label {
    @apply text-xs font-bold opacity-50 pr-1;
}

.multi .checkbox {
    @apply p-2 border border-white text-natural rounded text-sm font-normal capitalize flex gap-2 items-center font-mono;
}

.multi .checkbox.bg-white {
    @apply border-gray-300;
}

.multi .checkbox.bg-aqua,
.multi .checkbox.bg-mint,
.multi .checkbox.bg-white,
.multi .checkbox.bg-fluorescent-yellow,
.multi .checkbox.bg-yellow {
    @apply text-black
}

.circle {
    @apply w-3 h-3 bg-transparent border-black border-2 rounded-full flex items-center justify-center overflow-hidden;
    min-width: .75rem;
}

.selected .circle {
    @apply bg-black;
}

.multi .circle {
    @apply border-natural;
}

.multi .selected .circle {
    background-color: var(--color-natural);
}

.multi .checkbox.bg-aqua .circle,
.multi .checkbox.bg-mint .circle,
.multi .checkbox.bg-white .circle,
.multi .checkbox.bg-fluorescent-yellow .circle,
.multi .checkbox.bg-yellow .circle {
    @apply border-black;
}

.multi .checkbox.bg-aqua.selected .circle,
.multi .checkbox.bg-mint.selected .circle,
.multi .checkbox.bg-white.selected .circle,
.multi .checkbox.bg-fluorescent-yellow.selected .circle,
.multi .checkbox.bg-yellow.selected .circle {
    @apply bg-black;
}


@media (min-width: 640px) {
    fieldset {
        @apply grid grid-cols-2;
    }
}