table {
    @apply w-full mx-auto;
}
thead {
    @apply border-b-2 border-black;
}
tr {
    @apply border-b;    
}

tr:hover {
    text: var(--global-color)
}
th, td { 
    @apply p-4 text-left;
}

td.title {
    @apply pl-0;
}

tr.image, td.image {
    width: 96.9px;
}
td .table-image {
    @apply w-16 h-16 flex items-center justify-center;
}

td .table-image img {
    @apply h-auto w-auto;
    max-width: 100%;
    max-height: 100%;
}

td.number {
    @apply font-mono;
}

td.artist {
    width: 15%;
}

td.artist, td.year, td.number, td.project-type {
    @apply text-sm;
}

td.title h3 {
    @apply font-serif py-1;
}

td.title .number,
td.title .project-type  {
    @apply text-xs;
}
td.title .artist, 
td.title .year{
    @apply text-sm;
}
td.title .project-type {
    @apply pt-1;
}

@media (min-width: 640px) {
    td.title {
        @apply pl-4;
    }
}